<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <p>
    <mat-form-field class="fullwidth">
      <textarea matInput placeholder="Address" id="address" name="address" [(ngModel)]="address.address"></textarea>
    </mat-form-field>
  </p>
  <table class="fullwidth" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <input type="text" matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="fullwidth">
            <input type="text" matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
          </mat-form-field>
        </td>
        <td>
            <mat-form-field class="fullwidth">
              <input type="text" matInput placeholder="Postal Code"  #postalcode  maxlength="5" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
              <mat-hint align="end">
                {{postalcode.value.length}} / 5
              </mat-hint> 
            </mat-form-field>
          </td>
      </tr>
    </table>
    <p>
      <button type="submit" mat-button>
        Submit
      </button>
    </p>
  
</form>